<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyReadBookApplication"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".activity.User.FavoriteActivity"
            android:exported="false" />
        <activity
            android:name=".activity.User.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.User.BookActivity"
            android:exported="false" />
        <activity
            android:name=".activity.User.CategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.User.NewPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.User.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.User.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.User.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".activity.User.VerificationActivity"
            android:exported="false" />
        <activity
            android:name=".activity.User.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".activity.User.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".activity.User.ReadBookActivity"
            android:exported="false" />
        <activity
            android:name=".activity.User.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.User.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.User.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activity.User.FeedbackActivity"
            android:exported="false" />
        <activity
            android:name=".activity.User.ContactActivity"
            android:exported="false" />
        <activity
            android:name=".activity.User.ChangePasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Admin.AdminMainActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Admin.AdminAddCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Admin.AdminEditCategoryActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Admin.AdminAddBookActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Admin.AdminEditBookActivity"
            android:exported="false" />
    </application>

</manifest>